<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="default_monitoring_dbname" value="CRM_Domain_Monitoring" />
    <!--<add key="default_monitoring_dbname" value="TESTCRM_Domain_Monitoring" />-->
    
    <!--Add default PathFolder for backup-->
    <add key="default_backup_directory" value="D:\Backup" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
